<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xpay.admin.sysmgr.dao.SysDictItemMapper">
    
    <resultMap type="com.xpay.admin.sysmgr.entity.SysDictItem" id="sysDictItemMap" >
       <id property="id" column="ID"/>
       <result property="itemCode" column="item_code"/>
       <result property="itemName" column="item_name"/>
       <result property="sortIndex" column="sort_index"/>
       <result property="typeCode" column="type_code"/>
       <result property="className" column="class_name"/>
       <result property="remark" column="remark"/>
    </resultMap>
    
    <sql id="paramsSql1">
		<if test="typeCode != null"> and type_code like #{typeCode}</if>
	</sql>
	<select id="queryWithPage" resultMap="sysDictItemMap">
       select 
      	 	ID as id,
       		item_code as itemCode,
       		item_name as itemName,
       		sort_index as sortIndex,
       		type_code as typeCode,
       		class_name as className,
       		remark as remark
        from SYS_DICT_ITEM where 1=1 <include refid="paramsSql1"/>
    </select>
	
	<sql id="paramsSql2">
		<if test="itemCode != null"> and item_code = #{itemCode}</if>
		<if test="typeCode != null"> and type_code = #{typeCode}</if>
	</sql>
    <select id="queryByParams" resultMap="sysDictItemMap">
       select 
      	 	ID as id,
       		item_code as itemCode,
       		item_name as itemName,
       		sort_index as sortIndex,
       		type_code as typeCode,
       		class_name as className,
       		remark as remark
        from SYS_DICT_ITEM where 1=1 <include refid="paramsSql2"/>
    </select>
	
	<select id="getDictItemById" resultMap="sysDictItemMap">
       select *from SYS_DICT_ITEM where ID = #{id}
    </select>
    
    <select id="getDictItem" resultMap="sysDictItemMap">
       select *from SYS_DICT_ITEM where type_code = #{typeCode} and item_code = #{itemCode}
    </select>
    
    <insert id="insertDictItem" parameterType="com.xpay.admin.sysmgr.entity.SysDictItem" useGeneratedKeys="true" keyProperty="id">
       insert into 
          SYS_DICT_ITEM(
          	item_code,
       		item_name,
       		sort_index,
       		type_code,
       		class_name,
       		remark) 
       values(
          	#{itemCode},
       		#{itemName},
       		#{sortIndex},
       		#{typeCode},
       		#{className},
       		#{remark}
        );
    </insert>
    
    <update id="updateDictItem" parameterType="com.xpay.admin.sysmgr.entity.SysDictItem">
        update SYS_DICT_ITEM set 
            item_code = #{itemCode},
       		item_name = #{itemName},
       		sort_index = #{sortIndex},
       		type_code = #{typeCode},
       		class_name = #{className},
       		remark = #{remark}
        where ID=#{id}         
    </update>
    
    <delete id="delDictItem" parameterType="Long">
		delete from SYS_DICT_ITEM where ID = #{id}
	</delete>
    
</mapper>