<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ninefbank.smallpay.admin.order.dao.TradeOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ninefbank.smallpay.admin.order.entity.TradeOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bizOrderNo" property="bizorderno" jdbcType="VARCHAR" />
    <result column="tradeOrderNo" property="tradeorderno" jdbcType="VARCHAR" />
    <result column="tradeType" property="tradetype" jdbcType="TINYINT" />
    <result column="tradeSubType" property="tradesubtype" jdbcType="TINYINT" />
    <result column="bizOrderTime" property="bizordertime" jdbcType="TIMESTAMP" />
    <result column="expireTime" property="expiretime" jdbcType="TIMESTAMP" />
    <result column="payNo" property="payno" jdbcType="VARCHAR" />
    <result column="payAmt" property="payamt" jdbcType="DECIMAL" />
    <result column="payTime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="tradeStatus" property="tradestatus" jdbcType="TINYINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bizOrderNo, tradeOrderNo, tradeType, tradeSubType, bizOrderTime, expireTime, 
    payNo, payAmt, payTime, tradeStatus, createTime, updateTime
  </sql>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from trade_order
        where 1=1
        <!-- 表字段条件 -->
        <if test="bizorderno != null">
            AND bizOrderNo = #{bizorderno,jdbcType=VARCHAR}
        </if>
        <if test="tradeorderno != null">
            AND tradeOrderNo = #{tradeorderno,jdbcType=VARCHAR}
        </if>
        <if test="tradetype != null">
            AND tradeType = #{tradetype,jdbcType=VARCHAR}
        </if>
        <if test="tradestatus != null">
            AND tradeStatus = #{tradestatus,jdbcType=VARCHAR}
        </if>
        <if test="bizsubtype != null">
            AND bizSubType = #{bizsubtype,jdbcType=VARCHAR}
        </if>
    </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trade_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from trade_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ninefbank.smallpay.admin.order.entity.TradeOrder" >
    insert into trade_order (id, bizOrderNo, tradeOrderNo, 
      tradeType, tradeSubType, bizOrderTime, 
      expireTime, payNo, payAmt, 
      payTime, tradeStatus, createTime, 
      updateTime)
    values (#{id,jdbcType=BIGINT}, #{bizorderno,jdbcType=VARCHAR}, #{tradeorderno,jdbcType=VARCHAR}, 
      #{tradetype,jdbcType=TINYINT}, #{tradesubtype,jdbcType=TINYINT}, #{bizordertime,jdbcType=TIMESTAMP}, 
      #{expiretime,jdbcType=TIMESTAMP}, #{payno,jdbcType=VARCHAR}, #{payamt,jdbcType=DECIMAL}, 
      #{paytime,jdbcType=TIMESTAMP}, #{tradestatus,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ninefbank.smallpay.admin.order.entity.TradeOrder" >
    insert into trade_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bizorderno != null" >
        bizOrderNo,
      </if>
      <if test="tradeorderno != null" >
        tradeOrderNo,
      </if>
      <if test="tradetype != null" >
        tradeType,
      </if>
      <if test="tradesubtype != null" >
        tradeSubType,
      </if>
      <if test="bizordertime != null" >
        bizOrderTime,
      </if>
      <if test="expiretime != null" >
        expireTime,
      </if>
      <if test="payno != null" >
        payNo,
      </if>
      <if test="payamt != null" >
        payAmt,
      </if>
      <if test="paytime != null" >
        payTime,
      </if>
      <if test="tradestatus != null" >
        tradeStatus,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bizorderno != null" >
        #{bizorderno,jdbcType=VARCHAR},
      </if>
      <if test="tradeorderno != null" >
        #{tradeorderno,jdbcType=VARCHAR},
      </if>
      <if test="tradetype != null" >
        #{tradetype,jdbcType=TINYINT},
      </if>
      <if test="tradesubtype != null" >
        #{tradesubtype,jdbcType=TINYINT},
      </if>
      <if test="bizordertime != null" >
        #{bizordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiretime != null" >
        #{expiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="payno != null" >
        #{payno,jdbcType=VARCHAR},
      </if>
      <if test="payamt != null" >
        #{payamt,jdbcType=DECIMAL},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradestatus != null" >
        #{tradestatus,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ninefbank.smallpay.admin.order.entity.TradeOrder" >
    update trade_order
    <set >
      <if test="bizorderno != null" >
        bizOrderNo = #{bizorderno,jdbcType=VARCHAR},
      </if>
      <if test="tradeorderno != null" >
        tradeOrderNo = #{tradeorderno,jdbcType=VARCHAR},
      </if>
      <if test="tradetype != null" >
        tradeType = #{tradetype,jdbcType=TINYINT},
      </if>
      <if test="tradesubtype != null" >
        tradeSubType = #{tradesubtype,jdbcType=TINYINT},
      </if>
      <if test="bizordertime != null" >
        bizOrderTime = #{bizordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiretime != null" >
        expireTime = #{expiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="payno != null" >
        payNo = #{payno,jdbcType=VARCHAR},
      </if>
      <if test="payamt != null" >
        payAmt = #{payamt,jdbcType=DECIMAL},
      </if>
      <if test="paytime != null" >
        payTime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradestatus != null" >
        tradeStatus = #{tradestatus,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ninefbank.smallpay.admin.order.entity.TradeOrder" >
    update trade_order
    set bizOrderNo = #{bizorderno,jdbcType=VARCHAR},
      tradeOrderNo = #{tradeorderno,jdbcType=VARCHAR},
      tradeType = #{tradetype,jdbcType=TINYINT},
      tradeSubType = #{tradesubtype,jdbcType=TINYINT},
      bizOrderTime = #{bizordertime,jdbcType=TIMESTAMP},
      expireTime = #{expiretime,jdbcType=TIMESTAMP},
      payNo = #{payno,jdbcType=VARCHAR},
      payAmt = #{payamt,jdbcType=DECIMAL},
      payTime = #{paytime,jdbcType=TIMESTAMP},
      tradeStatus = #{tradestatus,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>