.bodyborderr{
	width:473px;
	height:280px;
	float:left;
	margin: 8px 2%;

	
}
.border{
	border:1px solid red;
}
.bodydata{
	 width: 100%;
	 height: 250px;
	 margin:0px auto;

}
.bodydatabank{
	 width: 100%;
	 height: 225px;
	 margin:0px auto;

}
.startend{
	width:100px;s
}