<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <!--<bean id="billpayTongxinHandler" class="com.xpay.channel.front.channel.quick.billpay.BillPay_TongxinHandler"/>-->

    <!--<bean id="billpay" class="com.xpay.channel.front.channel.quick.billpay.BillPay_ChannelImpl">-->
        <!--<property name="channelTongXinHandler" ref="billpayTongxinHandler"/>-->
        <!--<property name="channelConfig">-->
            <!--<bean class="com.xpay.channel.front.channel.quick.billpay.Billpay_Config" parent="channelConfig">-->
                <!--<property name="signUrl" value="${billpay.signURL}"/>-->
                <!--<property name="signConfirmUrl" value="${billpay.signConfirmURL}"/>-->
                <!--<property name="payUrl" value="${billpay.payURL}"/>-->
                <!--<property name="queryPayUrl" value="${billpay.queryPayURL}"/>-->
                <!--<property name="terminalId" value="${billpay.terminalId}"/>-->
                <!--<property name="version" value="${billpay.version}"/>-->
                <!--<property name="spFlag" value="${billpay.spFlag}"/>-->
                <!--<property name="payBatch" value="${billpay.payBatch}"/>-->
            <!--</bean>-->
        <!--</property>-->

        <!--<property name="channelMsgHandler">-->
            <!--<map>-->
                <!--<entry key-ref="SIGN">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.msg.BillPay_SignMsgHandler"/>-->
                <!--</entry>-->
                 <!--<entry key-ref="SIGNCONFIRM">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.msg.BillPay_SignConfirmMsgHandler"/>-->
                <!--</entry>-->
                <!--<entry key-ref="PAY">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.msg.BillPay_PayMsgHandler"/>-->
                <!--</entry>-->
                <!--<entry key-ref="REFUND">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.msg.BillPay_RefundMsgHandler"/>-->
                <!--</entry>-->
                <!--<entry key-ref="REFUNDQUERY">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.msg.BillPay_QueryRefundMsgHandler"/>-->
                <!--</entry>-->
                <!--<entry key-ref="PAYQUERY">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.msg.BillPay_QueryMsgHandler"/>-->
                <!--</entry>-->
            <!--</map>-->
        <!--</property>-->

        <!--<property name="channelValidateHandler">-->
            <!--<map>-->
                <!--<entry key-ref="SIGN">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.vld.BillPay_SignVld"/>-->
                <!--</entry>-->
                <!--<entry key-ref="SIGNCONFIRM">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.vld.BillPay_SignConfirmVld"/>-->
                <!--</entry>-->
                <!--<entry key-ref="PAY">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.vld.BillPay_PayVld"/>-->
                <!--</entry>-->
                <!--<entry key-ref="REFUND">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.vld.BillPay_RefundVld"/>-->
                <!--</entry>-->
                <!--<entry key-ref="PAYQUERY">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.vld.BillPay_QueryVld"/>-->
                <!--</entry>-->
                <!--<entry key-ref="REFUNDQUERY">-->
                    <!--<bean class="com.xpay.channel.front.channel.quick.billpay.vld.BillPay_QueryRefundVld"/>-->
                <!--</entry>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->

</beans>
