<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xpay.payment.dao.SignDao">

    <resultMap id="BaseResultMap" type="SignEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>

        <result column="signNo" property="signNo"/>
        <result column="breakSignNo" property="breakSignNo"/>
        <result column="cardNo" property="cardNo"/>

        <result column="cardType" property="cardType"/>
        <result column="holderName" property="holderName"/>

        <result column="cerType" property="cerType"/>
        <result column="cerNo" property="cerNo"/>
        <result column="expireDate" property="expireDate"/>

        <result column="mobileNo" property="mobileNo"/>
        <result column="signCreateDT" property="signCreateDT"/>
        <result column="signFinishDT" property="signFinishDT"/>
        <result column="breakSignDT" property="breakSignDT"/>
        <result column="signStatus" property="signStatus"/>
        <result column="userId" property="userId"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <sql id="column">
        id,signNo,breakSignNo,cardNo,cardType,holderName,
        cerType,cerNo,expireDate,mobileNo,signCreateDT,signFinishDT,
        breakSignDT,signStatus,userId,remark
    </sql>

    <insert id="add" parameterType="SignEntity"
            useGeneratedKeys="true" keyProperty="id">
        insert into cif_sign
        (<include refid="column"/>)
        values
        (#{id,jdbcType=BIGINT},
        #{signNo},
        #{breakSignNo},
        #{cardNo},
        #{cardType},
        #{holderName},
        #{cerType},
        #{cerNo},
        #{expireDate},
        #{mobileNo},
        #{signCreateDT},
        #{signFinishDT},
        #{breakSignDT},
        #{signStatus},
        #{userId},
        #{remark})
    </insert>

    <update id="update" parameterType="SignEntity">
        update cif_sign
        <set>
            <if test="cardNo != null and cardNo != ''">
                cardNo = #{cardNo},
            </if>
            <if test="cardType != null and cardNo != ''">
                cardType = #{cardType},
            </if>
            <if test="holderName != null and holderName != ''">
                holderName = #{holderName},
            </if>
            <if test="cerType != null and cerType != ''">
                cerType = #{cerType},
            </if>
            <if test="cerNo != null and cerNo != ''">
                cerNo = #{cerNo},
            </if>
            <if test="expireDate != null and expireDate != ''">
                expireDate = #{expireDate},
            </if>
            <if test="mobileNo != null and mobileNo != ''">
                mobileNo = #{mobileNo},
            </if>
            <if test="signStatus != null and signStatus != ''">
                signStatus=#{signStatus}
            </if>
        </set>
        <where>
            userId = #{userId} and cardNo = #{cardNo}
        </where>
    </update>

    <select id="getBySignNo" resultMap="BaseResultMap" parameterType="SignEntity">
        select
        <include refid="column"/>
        from cif_sign
        where signNo = #{signNo}
    </select>

    <select id="getByCardNoAndName" resultMap="BaseResultMap" parameterType="SignEntity">
        select
        <include refid="column"/>
        from cif_sign
        where cardNo = #{cardNo} and userId = #{userId};
    </select>

    <update id="updateStatus" parameterType="SignEntity">
        update cif_sign
        <set>
            <if test="signStatus != null and signStatus != ''">
                signStatus=#{signStatus},
            </if>
            <if test="signFinishDT != null and signFinishDT != ''">
                signFinishDT=#{signFinishDT},
            </if>
            <if test="breakSignNo != null and breakSignNo != ''">
                breakSignNo=#{breakSignNo},
            </if>
            <if test="breakSignDT != null and breakSignDT != ''">
                breakSignDT=#{breakSignDT}
            </if>
        </set>
        where
        <choose>
            <when test="signNo != null and signNo != ''">
                signNo = #{signNo}
            </when>
            <otherwise>
                breakSignNo = #{breakSignNo}
            </otherwise>
        </choose>
    </update>

</mapper>