<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byType">
    <!--通信-->
    <bean id="taobaoTongxinHandler" class="com.xpay.channel.front.channel.sms.taobao.TaoBao_TongxinHandler"/>

    <!--sms执行器-->
    <bean id="taobaoSmsChanneExecuter" class="com.xpay.channel.front.channel.sms.taobao.TaoBao_FrontExecutor">
        <property name="channelConfig">
            <bean class="com.xpay.channel.front.channel.sms.taobao.TaoBao_Config" parent="channelConfig">
                <property name="appKey" value="${sms_taobao_appKey}"/>
                <property name="appSecret" value="${sms_taobao_appSecret}"/>
                <property name="template" value="${sms_taobao_templateName}"/>
                <property name="normal" value="${sms_taobao_smsType}"/>
                <property name="bankURL" value="${sms_taobao_smsUrl}"/>
            </bean>
        </property>

        <property name="channelTongXinHandlerMap">
            <map>
                <entry key-ref="SMS" value-ref="taobaoTongxinHandler"/>
            </map>
        </property>

        <property name="channelMsgHandlerMap">
            <map>
                <entry key-ref="SMS">
                    <bean class="com.xpay.channel.front.channel.sms.taobao.msg.TaoBao_SmsMsgHandler"/>
                </entry>
            </map>
        </property>

        <property name="channelValidateHandlerMap">
            <map>
                <entry key-ref="SMS">
                    <bean class="com.xpay.channel.front.channel.sms.taobao.vld.TaoBao_SmsVld"/>
                </entry>
            </map>
        </property>
    </bean>

</beans>
