<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:tx="http://www.springframework.org/schema/tx">

    <context:annotation-config/>

    <context:component-scan base-package="com.xpay.trade"/>

    <context:property-placeholder location="classpath:config/*.properties" ignore-unresolvable="true"/>

    <bean id="tradeBiz" class="com.xpay.trade.biz.impl.TradeBizImpl"/>
</beans>