<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byType">

    <!--银联自定义通信-->
    <!--<bean id="unionpayTonxinHandler"-->
          <!--class="com.xpay.channel.front.channel.agentcollect.unionpay.Unionpay_TongxinHandler"/>-->

    <!--配置-->
    <bean id="unionConfig" class="com.xpay.channel.front.channel.agentcollect.unionpay.Unionpay_Config"
          parent="channelConfig">
        <!--代扣-->
        <property name="pfxPath" value="${agentcollect_unionpay_pfxPath}"/>
        <property name="cerPath" value="${agentcollect_unionpay_cerPath}"/>
        <property name="pfxPwd" value="${agentcollect_unionpay_pfxPwd}"/>
        <property name="authUrl" value="${agentcollect_unionpay_authUrl}"/>
        <property name="payUrl" value="${agentcollect_unionpay_payUrl}"/>
        <property name="notifyUrl" value="${agentcollect_unionpay_notifyUrl}"/>
        <property name="payQueryUrl" value="${agentcollect_unionpay_payQueryUrl}"/>
        <property name="merchantNo" value="${agentcollect_unionpay_merchantNo}"/>
    </bean>

    <!--银联处理器-->
    <bean id="unionACExecutor" class="com.xpay.channel.front.channel.agentcollect.unionpay.Unionpay_FrontExecutor">
        <!--注入通信-->
        <property name="channelTongXinHandlerMap">
            <map>
                <entry key-ref="PAY" value-ref="httpChannelHandler"/>
                <entry key-ref="PAYQUERY" value-ref="httpChannelHandler"/>
            </map>
        </property>
        <!--注入配置-->
        <property name="channelConfig" ref="unionConfig"/>
        <!--报文处理器-->
        <property name="channelMsgHandlerMap">
            <map>
                <entry key-ref="AUTH">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.msg.Unionpay_AuthMsgHandler"/>
                </entry>
                <entry key-ref="PAY">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.msg.Unionpay_PayMsgHandler"/>
                </entry>
                <entry key-ref="PAYQUERY">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.msg.Unionpay_PayQueryMsgHandler"/>
                </entry>
                <!--<entry key-ref="PAYCALLBACK">-->
                    <!--<bean class="com.xpay.channel.front.channel.agentcollect.unionpay.msg.Unionpay_PayCallbackMsgHandler"/>-->
                <!--</entry>-->

                <!--<entry key-ref="REFUND">-->
                    <!--<bean class="com.xpay.channel.front.channel.agentcollect.unionpay.msg.Unionpay_RefundMsgHandler"/>-->
                <!--</entry>-->
                <!--<entry key-ref="REFUNDCALLBACK">-->
                    <!--<bean class="com.xpay.channel.front.channel.agentcollect.unionpay.msg.Unionpay_RefundCallbackMsgHandler"/>-->
                <!--</entry>-->
                <!--<entry key-ref="CANCEL">-->
                <!--<bean class="com.xpay.channel.front.channel.agentcollect.unionpay.msg.Unionpay_CancelMsgHandler"/>-->
                <!--</entry>-->
                <!--<entry key-ref="CANCELCALLBACK">-->
                <!--<bean class="com.xpay.channel.front.channel.agentcollect.unionpay.msg.Unionpay_CancelCallbackMsgHandler"/>-->
                <!--</entry>-->
            </map>
        </property>
        <!--校验器-->
        <property name="channelValidateHandlerMap">
            <map>
                <entry key-ref="AUTH">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.vld.Unionpay_AuthVld"/>
                </entry>
                <entry key-ref="PAY">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.vld.Unionpay_PayVld"/>
                </entry>
                <entry key-ref="PAYQUERY">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.vld.Unionpay_PayQueryVld"/>
                </entry>
                <entry key-ref="REFUND">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.vld.Unionpay_RefundVld"/>
                </entry>
                <entry key-ref="CANCEL">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.vld.Unionpay_CancelVld"/>
                </entry>
                <entry key-ref="PAYCALLBACK">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.vld.Unionpay_PayCallbackVld"/>
                </entry>
                <entry key-ref="REFUNDCALLBACK">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.vld.Unionpay_RefundCallbackVld"/>
                </entry>
                <entry key-ref="CANCELCALLBACK">
                    <bean class="com.xpay.channel.front.channel.agentcollect.unionpay.vld.Unionpay_CancelCallbackVld"/>
                </entry>
            </map>
        </property>
    </bean>
</beans>
