<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="agentCollectFacade" class="com.xpay.payment.biz.facade.AgentCollectFacadeImpl"/>
    <bean name="customerFacade" class="com.xpay.payment.biz.facade.CustomerFacadeImpl"/>
    <bean name="masterDataFacade" class="com.xpay.payment.biz.facade.MasterDataFacadeImpl"/>

    <bean name="agentCollectFacadeHessian" class="com.xpay.payment.server.hessian.SimpleCustomServiceExporter">
        <property name="service" ref="agentCollectFacade"/>
        <property name="serviceInterface" value="com.xpay.payment.common.facade.AgentCollectFacade"/>
    </bean>

    <bean name="customerFacadeHessian" class="com.xpay.payment.server.hessian.SimpleCustomServiceExporter">
        <property name="service" ref="customerFacade"/>
        <property name="serviceInterface" value="com.xpay.payment.common.facade.CustomerFacade"/>
    </bean>

    <bean name="masterDataFacadeHessian" class="com.xpay.payment.server.hessian.SimpleCustomServiceExporter">
        <property name="service" ref="masterDataFacade"/>
        <property name="serviceInterface" value="com.xpay.payment.common.facade.MasterDataFacade"/>
    </bean>

    <bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="urlMap">
            <map>
                <entry key="/agentCollectFacade" value-ref="agentCollectFacadeHessian"/>
                <entry key="/customerFacade" value-ref="customerFacadeHessian"/>
                <entry key="/masterDataFacade" value-ref="masterDataFacadeHessian"/>
            </map>
        </property>
    </bean>

    <import resource="classpath*:spring/spring-payment-biz.xml"/>
</beans>
