<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ninefbank.smallpay.admin.sysmgr.dao.SysRoleMapper">
    
    <resultMap type="com.ninefbank.smallpay.admin.sysmgr.entity.SysRole" id="sysRoleMap" >
       <id property="id" column="ID"/>
       <result property="roleName" column="role_name"/>
       <result property="memo" column="memo"/>
       <result property="insertTime" column="insert_time"/>
       <result property="lastUpdateTime" column="last_update_time"/>
    </resultMap>
    
    <sql id="paramsSql1">
		<if test="parent != null"> and roleName like #{roleName}</if>
	</sql>
	<select id="queryWithPage" resultMap="sysRoleMap">
       select 
      	 	ID as id,
       		role_name as roleName,
       		memo as memo,
       		insert_time as insertTime,
       		last_update_time as lastUpdateTime
        from SYS_ROLE where 1=1 <include refid="paramsSql1"/>
    </select>
	
	<select id="getSysRoleById" resultMap="sysRoleMap">
       select *from SYS_ROLE where ID = #{id}
    </select>
    
    <insert id="insertSysRole" parameterType="com.ninefbank.smallpay.admin.sysmgr.entity.SysRole" useGeneratedKeys="true" keyProperty="id"> 
       insert into 
          SYS_ROLE(
          	role_name,
       		memo,
       		insert_time,
       		last_update_time) 
       values(
          	#{roleName},
       		#{memo},
       		#{insertTime},
       		#{lastUpdateTime}
        );
    </insert>
    
    <update id="updateSysRole" parameterType="com.ninefbank.smallpay.admin.sysmgr.entity.SysRole">
        update SYS_ROLE set 
            role_name = #{roleName},
       		memo = #{memo},
       		insert_time = #{insertTime},
       		last_update_time = #{lastUpdateTime}
        where ID=#{id}         
    </update>
    
    <delete id="delSysRole" parameterType="Long">
		delete from SYS_ROLE where ID = #{id}
	</delete>
    
</mapper>